nav.nav.nav--mb
  .whatsapp.whatsapp--mb WhatsApp
    a(href="#!" target="_blank" rel="external")
      picture
        img(src="assets/img/icons/whatsapp.svg" width="40" height="42" alt="" title="" loading="lazy")
  ul(role="menu").menu
    li(role="menuitem")
      a(href="#prices") Цены
    li(role="menuitem")
      a(href="#about") О нас
    li(role="menuitem")
      a(href="#contacts") Контакты
  .region
    a(href="#!") Москва и МО 