nav.nav.nav--dt
  ul(role="menu")
    li(role="menuitem")
      a(href="#prices") Цены
    li(role="menuitem")
      a(href="#about") О нас
    li(role="menuitem")
      a(href="#contacts") Контакты
  .whatsapp.whatsapp--dt
    a(href="#!" target="_blank" rel="external")
      picture
        img(src="assets/img/icons/whatsapp.svg" width="40" height="42" alt="" title="" loading="lazy")
  include ./../contacts/contacts.pug