nav.nav
  .whatsapp.whatsapp--mb
    a(href="#!" target="_blank" rel="external") WhatsApp
      picture
        img(src="assets/img/icons/whatsapp.svg" width="40" height="42" alt="" title="" loading="lazy")
  ul(role="menu")
    li(role="menuitem")
      a(href="#prices") Цены
    li(role="menuitem")
      a(href="#about") О нас
    li(role="menuitem")
      a(href="#contacts") Контакты
  .region.region--mb
    a(href="#!") Москва и МО 