.contacts {
  display: flex;
  align-items: center;

  .phone,
  .region {

    a {
      @include Montserrat-ExtraLight();
      font-size: 1.1rem;
      line-height: 1.3rem;
      color: var(--black_1);

      @media (min-width: 1440px) {
        font-size: 2.6rem;
        line-height: 3.2rem;
      }
    }
  }

  .phone {
    display: none;

    @media (min-width: 1440px) {
      display: block;
      margin-right: 7.4rem;
    }
  }

  .region {
    display: none;

    @media (min-width: 1440px) {
      display: block;
    }

    a {
      color: var(--blue_2);
    }
  }
  
}