.contacts {
  display: flex;
  align-items: center;

  .phone,
  .region {

    a {
      @include Montserrat-ExtraLight();
      font-size: 1.1rem;
      line-height: 1.3rem;
      color: var(--black_1);

      @media (min-width: 1200px) {
        font-size: 1.6rem;
        line-height: 1.8rem;
      }

      @media (min-width: 1440px) {
        font-size: 2.6rem;
        line-height: 3.2rem;
      }
    }
  }

  .phone {
    display: none;

    @media (min-width: 1200px) {
      display: block;
      margin-right: 7.4rem;
    }
  }

  .region {
    display: none;

    @media (min-width: 1200px) {
      display: block;
    }

    a {
      color: var(--blue_2);
    }
  }
  
}

.whatsapp {

  &--dt {
    display: none;

    @media (min-width: 1200px) {
      display: block;
      margin-right: 4.2rem;
    }
  }

  &--mb {
    position: relative;
    display: block;
    margin-bottom: 4.6rem;
    font-size: 3.6rem;
    line-height: 4.4rem;
    color: var(--green_1);
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    text-decoration-thickness: 0.1rem;

    img {
      top: -7rem;
      position: absolute;
      width: 4.7rem;
      height: 5rem;

      @media (min-width: 1400px) {
        width: 5.7rem;
        height: 6rem;
      }
    }

    a {
      @include Montserrat-ExtraLight();
      text-decoration: underline;
      text-underline-offset: 0.8rem;
      text-decoration-thickness: 0.1rem;
      color: var(--green_1);
    }

    @media (min-width: 1200px) {
      display: none;
    }
  }

}