.header {
  // background: var(--blue_3);

  // @media (min-width: 1440px) {
  //   background: var(--white_1);
  // }

  &__inner-mb {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.6rem 3.6rem;
    background: var(--blue_3);

    @media (min-width: 1200px) {
      display: none;
      padding: 0;
    }

    .phone--mb {

      a {
        font-size: 1.1rem;
        line-height: 1.4rem;
        color: var(--white_1);
      }
    }
  }

  &__inner {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5rem 0;
    // justify-content: space-between;

    @media (min-width: 1440px) {
      padding: 5rem 0;
    }
  }
}