header.header
  .header__inner-mb
    include ./../../blocks/nav/nav-mb.pug
    .logo--mb
      picture
        img(src="assets/img/icons/logo-mb.svg" width="86" height="26" alt="" title="" loading="lazy")
    .phone--mb
      a(href="tel:+79587533005") +7(958)-753-30-05
    include ./../../blocks/burger/burger.pug
  .container.container--dt
    .header__inner 
      include ./../../blocks/logo/logo.pug
      include ./../../blocks/nav/nav-dt.pug