h1 {
  margin-bottom: 0.8rem;
  font-family: 'Inter-Black';
  font-weight: 900;
  font-style: normal;
  font-size: 3.2rem;
  line-height: 3.9rem;
  color: var(--blue_2);
  text-transform: uppercase;

  @media (min-width: 1200px) {
    font-size: 3.4rem;
    line-height: 4.3rem;
  }

  @media (min-width: 1440px) {
    font-size: 4rem;
    line-height: 4.9rem;
  }

  @media (min-width: 1600px) {
    margin-bottom: 3.6rem;
    font-size: 6.4rem;
    line-height: 7.7rem;
  }

  @media (min-width: 1920px) {
    max-width: 56rem;
  }
}

h2 {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: var(--white_1);

  @media (min-width: 1024px) {
    font-size: 4.4rem;
    line-height: 4.9rem;
  }

  @media (min-width: 1440px) {
    font-family: 'Montserrat-ExtraLight';
    font-weight: 200;
    font-style: normal;
    font-size: 7.8rem;
    line-height: 9.5rem;
  }
}

h3 {
  font-family: 'Montserrat-Light';
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--white_1);
}