h1 {
  margin-bottom: 3.6rem;
  font-family: 'Inter-Black';
  font-weight: 900;
  font-style: normal;
  font-size: 6.4rem;
  line-height: 7.7rem;
  color: var(--blue_2);
  text-transform: uppercase;
}

h2 {
  font-family: 'Montserrat-ExtraLight';
  font-weight: 200;
  font-style: normal;
  font-size: 7.8rem;
  line-height: 9.5rem;
  color: var(--white_1);
}

h3 {
  font-family: 'Montserrat-Light';
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--white_1);
}